/**
 * Redpill Linpro theme for reveal.js. This is based on the the 'white' theme.
 *
 * By Pontus Ullgren
 */
@import url(../fonts/lato/lato.css);
@import url(../reveal.js/dist/theme/white.css);

.reveal {
  font-family: "Lato", Helvetica, sans-serif;;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: "Lato", Helvetica, sans-serif;;
  text-transform: none;
}


.reveal h1 {
  color: rgb(240, 50, 57); 
  text-align: left;
}

.reveal h2 {
  color: rgb(240, 50, 57); 
  text-align: left;
}

.slide-background {
  height: 200px;
  background-image: url("../images/rl-logo.png"), url("../images/rl-footer.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 20px bottom 20px, center bottom;  
  background-size: 5%, 100% 10%;
}

.slide-background.red.background {
  background-image: linear-gradient(to right,  rgb(240, 50, 57) 10%, #ea585a );
  background-size: 100% 100%;
  background-position: 0 0;
  background-color:  rgb(240, 50, 57) ;
}


.slide-background.white.background {
  background-image: none;
  background-position: 0 0;
  background-color: white ;
}

.reveal section div.plain span img {
  border: 0;
  box-shadow: none;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); 
}

.reveal section img {
  margin: 15px 0px;
  background: none;
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

/* ------------------------------------------------------ The refs section */
DIV.refs {
  
  padding: 0px 0 0 0;
  width: 100%;
  position: fixed;
  left: 0rem;
  bottom: -10rem;
  text-align: right;
}

DIV.refs P, DIV.refs P A {
  color: white; 
  margin: 0;
}

DIV.refs DIV.ulist {
  margin: 0; padding: 0;
  font-size: 1.3rem;
  line-height: 0.9;

}

DIV.refs DIV.ulist UL {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
DIV.refs DIV.ulist UL LI {
  width: 50%;
  float: right;
  text-align: center;
}
